body{
    background-color: lightgray;
  }

  .toolbar {
    height: 15%;
    background-color: #2c2f3b07;
    color: black;
  }

  .toolbar img {
    width: 15%;
    height: 100%;
    margin: 0.5%;
    background-color: #373d5500;
  }

  .spacer {
    float: right;
    margin: 1%;
    padding: 2%;
  }

  li{
    
    display: inline;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
  }

  a{
    text-decoration: none;
    color: rgb(69, 68, 73);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .toolbar img {
      width: 40%;
      height: 60%;
      display: block;
      margin: auto;
      background-color: #373d5500;
    }
  }
  @media screen and (max-width: 575px) {
    
    .toolbar img {
      width: 40%;
      height: 60%;
      display: block;
      margin: auto;
      background-color: #373d5500;
    }
  }