<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="rejilla" *ngFor="let pokemon of typePokemon">
        <mat-card>
            <mat-card class="example-card">
                <img mat-card-image src="https://esportsforces.files.wordpress.com/2017/11/pok.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-title class="Nompok">{{ pokemon.name }}</mat-card-title>
                </mat-card>
            </mat-card>
    </div>


</body>
</html>