<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>
<body>
        <div class="gn-login">
                <form class="form-login">
                        <mat-card>
                                <mat-form-field class="example-form-field">
                                        <mat-label>Usuario</mat-label>
                                        <input matInput type="text" name="user" id="user" [(ngModel)]="value" placeholder="Usuario">
                                </mat-form-field>
        
                                <mat-form-field class="example-form-field">
                                        <mat-label>Contraseña</mat-label>
                                        <input matInput type="password" name="password" id="password" [(ngModel)]="value2" placeholder="Contraseña">
                                </mat-form-field>
        
                                <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''" (click)="value2=''">
                                        <mat-icon> Clear </mat-icon>
                                </button>
        
                                <button mat-stroked-button color="accent" href="Catalogo">Login</button>
                        </mat-card>
                </form>
        </div>       
</body>
</html>